﻿<!DOCTYPE html>
<!--Aquí la página principal (PLANTILLA)-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customs")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/alertify")
</head>
<body>

    <!-- Vertical navbar -->
    <nav id="sidebar">
        <div class="user-container">
            <div class="user-media">
                <img src="~/Img/profile.png" alt="..." class="user-img">
                <div class="media-body">
                    <h4 class="m-0">
                        @if (Session["fullname"] != null)
                        {
                            @HttpContext.Current.Session["fullname"].ToString();
                        }
                        else
                        {
                            @Url.Content("~/");
                        }
                    </h4>
                </div>
            </div>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="@Url.Action("welcome","home")"><i class="fa fa-house-user">&nbsp;</i>Home</a>
            </li>


            <li>
                <a href="#adminMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle drop-menu"><i class="fa fa-users-cog">&nbsp;</i>Administrar &nbsp;<i class="drop-icon  fa fa-angle-right"></i></a>
                <ul class="collapse list-unstyled" id="adminMenu">
                    <li>
                        <a href="@Url.Action("index","rols")">Roles</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","states")">Estados</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","users")">Usuarios</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","authors")">Autores</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","categories")">Categorias</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","editorials")">Editoriales</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","lends")">Préstamos</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#booksMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle drop-menu"><i class="fa fa-book">&nbsp;</i>Libros &nbsp;<i class="drop-icon  fa fa-angle-right"></i></a>
                <ul class="collapse list-unstyled" id="booksMenu">
                    <li>
                        <a href="@Url.Action("index","books")">Obras</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","copybooks")">Ejemplares</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <nav id="horizontal-bar">
        <ul>
            <li><a id="sidebarCollapse"><i class="fa fa-bars mr-2">&nbsp;</i></a></li>
            <li id="logout"><a href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out-alt">&nbsp;</i>Logout</a></li>
        </ul>
    </nav>

    
    <!-- End vertical navbar -->

    <div class="container body-content">

        <!-- Toggle button -->
        @*<button id="sidebarCollapse" type="button" class="btn-toggle"><i class="fa fa-bars mr-2">&nbsp;</i><small class="text-uppercase font-weight-bold">Toggle</small></button>*@


        @RenderBody()
        <hr />
        <footer>
            <p class="text-white">&copy; @DateTime.Now.Year - Developed by Jesús Salcedo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/alertify")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var session = '@Session["user"]';
            console.log(session);
            if (session == null || session == undefined) {
                window.location.href = '@Url.Content("~/")'; //Redireccionar
            }
        });

        // Clicking components
        $('.drop-menu').on('click', function () {
            $('.drop-icon', this).toggleClass('fa fa-angle-right fa fa-angle-down');
        });
    </script>
</body>
</html>
