﻿<!DOCTYPE html>
<!--Aquí la página principal (PLANTILLA)-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/login")
    @Styles.Render("~/Content/alertify")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="highlight">
        <div class="container">
            @RenderBody()
            <footer>
                @*<p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>*@
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/alertify")
</body>
</html>
