﻿<!DOCTYPE html>
<!--Aquí la página principal (PLANTILLA)-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customs")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/alertify")
</head>
<body>

    <!-- Vertical navbar -->
    <nav id="sidebar">
        <div class="user-container">
            <div class="user-media">
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." class="user-img img-thumbnail">
                <div class="media-body">
                    <h4 class="m-0">
                        @HttpContext.Current.Session["fullname"].ToString()
                    </h4>
                    <p class="font-weight-light text-muted mb-0">Welcome !</p>
                </div>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#adminMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle drop-menu"><i class="fa fa-users-cog">&nbsp;</i>Administrar &nbsp;<i class="drop-icon  fa fa-angle-right"></i></a>
                <ul class="collapse list-unstyled" id="adminMenu">
                    <li>
                        <a href="@Url.Action("index","rols")">Roles</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","states")">Estados</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","users")">Usuarios</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","author")">Autores</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","category")">Categorias</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#booksMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle drop-menu"><i class="fa fa-book">&nbsp;</i>Libros &nbsp;<i class="drop-icon  fa fa-angle-right"></i></a>
                <ul class="collapse list-unstyled" id="booksMenu">
                    <li>
                        <a href="@Url.Action("index","rols")">Roles</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","states")">Estados</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","users")">Usuarios</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","author")">Autores</a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","category")">Categorias</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Logout","Home")"><i class="fas fa-sign-out-alt">&nbsp;</i>Logout</a>
            </li>
        </ul>
    </nav>
    <!-- End vertical navbar -->

    <div class="container body-content">

        <!-- Toggle button -->
        <button id="sidebarCollapse" type="button" class="btn-toggle"><i class="fa fa-bars mr-2">&nbsp;</i><small class="text-uppercase font-weight-bold">Toggle</small></button>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by Jesús Salcedo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/alertify")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var session = '@HttpContext.Current.Session["user"].ToString()';
            checkSession();
            //Checking Session user expire
            function checkSession() {
                if (session == null) {
                    alertify.error('Tu sesión ha expirado, vuelve a conectar');
                    window.location.href = '@Url.Content("~/")'; //Redireccionar
                }
                else {
                    //console.log(session + " NOT null");
                }
            };


        });

        // Clicking components
        $('.drop-menu').on('click', function () {
            $('.drop-icon', this).toggleClass('fa fa-angle-right fa fa-angle-down');
        });
    </script>
</body>
</html>
