﻿@model LibraryMG.Models.book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
<div class="row">
    <div class="col-md-2">
        <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "books")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
    </div>
    <div class="col-md-8">
        <h4>Borrar Libros</h4>
    </div>
    <div class="col-md-2">
    </div>
</div>
<hr />
<span class="text-alert">¿Está seguro de querer eliminar?</span>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category1.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category1.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.editorial1.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editorial1.description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Delete" class="btn-delete">
                <i class="fa fa-trash">&nbsp;</i>Eliminar
            </button>
        </div>
    }
</div>
    </div>