﻿@model LibraryMG.Models.book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category1.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category1.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.editorial1.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editorial1.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
