﻿@model IEnumerable<LibraryMG.Models.book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="main-container">
        <h2>Libros</h2>
        <hr />
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <button class="btn-new" onclick="location.href='@Url.Action("Create", "books")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>
            </div>
            <div class="col-lg-3 col-md-3">

                <input class="input" id="thisSearch" type="text" placeholder="Search..">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr class="thead">
                    <th>
                        Código
                    </th>
                    <th>
                        ISBN
                    </th>
                    <th>
                        Título
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Autor
                    </th>
                    <th>
                        Categoría
                    </th>
                    <th>
                        Editorial
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tbody id="thisTable">
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isbn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.author1.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category1.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.editorial1.description)
                            </td>
                            <td>
                                <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "books", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                                <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "books", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                            </td>
                        </tr>
                        </tbody>
                }

            </table>
        </div>

    </div>