﻿@model IEnumerable<LibraryMG.Models.editorial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
<h2>Editoriales</h2>
    <hr />
<button class="btn-new" onclick="location.href='@Url.Action("Create", "editorials")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>

<div class="table-responsive">

    <table class="table table-hover table-bordered">
        <tr class="thead">
            <th>
                Descripción
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "editorials", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                    <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "editorials", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                </td>
            </tr>
        }

    </table>
</div>

    </div>