﻿/*Code by JS*/

body {
    background-image: url('../Img/login-bg.jpg') !important;
    background-repeat: no-repeat !important;
}

/*.highlight {
    background-color: #fff !important;
    width: 100%;
}*/

.main {
    margin-top: 12em;
}

/*Login*/


/*Icons inside input*/
.input-wrapper-user {
    position: relative;
    width: 200px;
}

    .input-wrapper-user:before {
        content: "\f007";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #d0cfcf;
        position: absolute;
        top: 10px;
        left: 1.2em;
    }


.input-wrapper-pass {
    position: relative;
    width: 200px;
}

    .input-wrapper-pass:before {
        content: "\f084";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #d0cfcf;
        position: absolute;
        top: 10px;
        left: 1.2em;
    }
/*End icons*/ 

#login-logo {
    width:150px;
    height: auto;
    margin-bottom: 20px;
}

.login-link {
    font-size: 12px;
}

.login-container {
    padding: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
}

.login-control {
    width: 14em;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #efeded;
    border: solid 1px #d0cfcf;
    /*margin-left: 1.5em; Para icon FA*/
    padding-left: 2.5em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    color: #6d6a6a;
    box-shadow: inset 0 0 1px 1px rgba(160, 159, 159, 0.10);
}

.login-btn {
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 14em;
    border: solid 1px #4D868C;
    background-color: #4D868C;
    color: #fff;
    /*background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);*/
}

    .login-btn:hover {
        background-color: #306C73;
        color: #fff;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        /*-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);*/
        transition: all 0.4s ease 0s;
        /*background-color: #138dbb;*/
        /*background-position: right center !important;*/
        /*background-image: linear-gradient(to right, #1494ee 0%, #0ecaea 51%, #1494ee 100%);*/
    }


a {
    text-decoration: none !important;
    color: #4D868C !important;
}

a:hover {
    text-decoration: none !important;
    color: #306C73 !important;
}

@media (max-width: 766px) {

    .login-container {
        /*width: 100%;*/
        padding: 0px;
        margin: 0px;
        box-shadow: none;
        background-color: transparent;
    }

    .highlight {
        background-color: rgba(255, 255, 255, 0.80);
        height: 60em;
    }

    .main {
        margin: 0;
        padding: 1em;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    body {
        background-size: 100em;
    }
}

