﻿/*Code by JS*/

/*Initial Parameters*/
@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: ProductSans;
    src: url('../fonts/ProductSans-Regular.ttf');
}

@font-face {
    font-family: ProductSans-Light;
    src: url('../fonts/ProductSans-Light.ttf');
}


@font-face {
    font-family: ProductSans-Bold;
    src: url('../fonts/ProductSans-Bold.ttf');
}

body {
    font-family: OpenSans, sans-serif !important;
    margin-left: 2em;
    margin-right: 2em;
    /*background-color: #eeecec;*/
    background: rgb(223,233,255);
    /*background: radial-gradient(circle, rgba(223,233,255,1) 0%, rgba(192,219,251,1) 100%);*/
    background: radial-gradient(circle, rgb(133, 215, 192) 0%, rgb(77, 134, 140) 100%);
    color: #777;
}

.main-container {
    padding: 4em;
    background-color: #fff;
    margin-top: 1em;
    /*border: solid 1px #d1cece;*/
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    position:relative;
}


/*Vertical Nav*/

#sidebar {
    font-family: ProductSans, sans-serif !important;
    min-width: 20rem;
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.10);
    /*border-right: solid 1px #d1cece;*/
    transition: all 0.4s;
    background: #fff;
    color: #777;
    padding: 10px;
    z-index: 2;
}

.user-container {
    text-align: center;
    padding-top: 1em;
    border-bottom: solid 1px rgba(123, 123, 123, 0.30);
    padding-bottom: 1em;
}

.user-img {
    width: 65px;
    border-radius: 50% !important;
}


#sidebar ul.components {
    padding: 15px 0;
    /*border-bottom: 1px solid #47748b;*/
}


#sidebar ul h5 {
    text-align: left;
    margin-left: 10px;
}

#sidebar ul p {
    color: #7b7b7b;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    /*border-bottom: solid 1px rgba(209, 207, 207, 0.10);*/
    color: #5b5b5b;
    padding-left: 1.5em;
    margin-bottom: 2px;
}

    #sidebar ul li a:hover {
        background: #4D868C;
        border-radius: 50px;
        color: #fff !important;
    }

    h4 {
        font-family: 'Open Sans';
    }


    .text-white {
        color: #fff !important;
    }

#sidebar ul li.active > a, a[aria-expanded="true"] {
    /*color: #424141;
    background: #f5f5f5;*/
    background: #4D868C;
    border-radius: 50px;
    color: #fff !important;
}

ul ul a {
    font-size: 14px !important;
    padding-left: 30px !important;
    background: #fff;
}


#horizontal-bar {
    font-family: ProductSans, sans-serif !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 14.3em;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.10);
    border-left: solid 1px #d1cece;
    transition: all 0.4s;
    background: #fff;
    color: #5b5b5b;
    padding: 5px;
    z-index: 3;
}

    #horizontal-bar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #horizontal-bar ul li {
            float: left;
        }

            #horizontal-bar ul li a {
                display: block;
                color: #5b5b5b;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                #horizontal-bar ul li a:hover {
                    color: #4D868C;
                }

/*Expanded*/

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



#sidebarCollapse
{
    margin-left: 2em;
    cursor:pointer;
}

#logout {
    position:absolute;
    right: 18em;
}

/*Contenido*/
.body-content {
    width: calc(100% - 20rem);
    margin-left: 20rem;
    transition: all 0.4s;
    padding-top: 6em;
}


/*Toggle button Responsive*/

#sidebar.active {
    margin-left: -20rem;
}

#content.active {
    width: 100%;
    margin: 0;
}


.btn-toggle {
    margin-top: 2em;
    padding: 8px;
    border: none;
    color: #777777;
    background-color: #fff;
    border-radius: 10px;
}

    .btn-toggle:hover {
        color: #fff;
        background-color: #8a8a8a;
    }

@media (max-width: 500px) {

    #sidebar {
        margin-left: -20rem;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
        margin: 0;
    }

        #content.active {
            margin-left: 20rem;
            width: calc(100% - 20rem);
        }

    #horizontal-bar {
        width: 100%;
    }

    .btn-save {
        width: 100% !important;
    }
}
@media (max-width: 492px) {
    .body-content {
        width: 100%;
        margin-left: 0;
        transition: all 0.4s;
    }

    .btn-toggle {
        margin-left: 78%;
        content: '';
    }

    #horizontal-bar {
        width: 50%;
    }

    #logout {
        right: 1em;
        content: '';
    }

    .btn-save{
        width:100% !important;
    }
}


.thead {
    background-color:#f4f4f4;
    color: #1d1d1d;
}


h2 {
    font-family: ProductSans, sans-serif;
    color: #7b7b7b;
}

h3 {
    font-family: ProductSans, sans-serif;
    color: #7b7b7b;
    
}

th {
    font-family: ProductSans, sans-serif;
    color: #6c6c6c;
    font-weight: 200 !important;
    font-size: 16px;
}


h4 {
    font-family: ProductSans, sans-serif;
    color: #7b7b7b
}

.title {
    font-family: ProductSans-Light, sans-serif;
    color: #7b7b7b;
    width: 300px;
}

p {
    color: #7b7b7b;
}

/*Custom Buttons*/


.btn-gradient {
    font-size: 12px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
    border: none;
    /*background-color: #29b9f8;*/
    margin-bottom: 10px;
    background-image: linear-gradient(to right, rgba(28,195,235,1) 0%, rgba(67,171,244,1) 23%, rgba(46,206,228,1) 61%, rgba(14,249,187,1) 100%);
    box-shadow: 0 2px 4px rgba(47, 132, 237, 0.30);
}

    .btn-gradient:hover {
        /*background-color: #23a3db;*/
        background-position: 8.3em 0px;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }




.btn-new {
    font-size: 12px;
    color: #29b9f8;
    padding: 4px 10px;
    border-radius: 50px;
    border: solid 1px #29b9f8;
    background-color: transparent;
    margin-bottom: 10px;
}

    .btn-new:hover {
        background-color: #23a3db;
        color: #fff;
        border: solid 1px #23a3db;
    }

.btn-info {
    color: #29b9f8;
    padding: 4px 10px;
    border-radius: 50px;
    border: solid 1px #29b9f8;
    background-color: transparent;
    margin-bottom: 10px;
    text-decoration: none !important;
}

    .btn-info:hover {
        background-color: #23a3db;
        color: #fff;
    }


.btn-save {
    width: 10em;
    color: #02bb8c;
    padding: 8px 12px;
    border-radius: 50px;
    border: solid 1px #02bb8c;
    background-color: transparent;
}

    .btn-save:hover {
        background-color: #02bb8c;
        color: #fff;
    }


.btn-delete {
    width: 10em;
    color: #cb3030;
    padding: 8px 12px;
    border-radius: 50px;
    border: solid 1px #cb3030;
    background-color: transparent;
}

    .btn-delete:hover {
        background-color: #cb3030;
        color: #fff;
    }



.btn-gray {
    font-size: 12px;
    background-color: transparent;
    border: none;
    color: #777777;
}

    .btn-gray:hover {
        color: #5e5e5e;
    }


.btn-gray-2x {
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: #777777;
    padding: 0.6em 0px;
}

    .btn-gray-2x:hover {
        color: #29bdf8;
    }

    .btn-container {
        padding-top: 1em;
    }


/*Custom tables*/

.tb1 {
    border-collapse: collapse;
    border-spacing: 10px;
}

.tb1-thead {
    background-color: #f5f5f5;
}

.tb1-tbody {
}


.text-alert {
    font-size: 16px;
    color: #424141;
}


/*Customs inputs*/

.input {
    box-shadow: inset 0 0 1px 1px rgba(160, 159, 159, 0.10);
    width: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    /*margin-bottom: 10px;*/
    background-color: #fff;
    border: solid 1px #d0cfcf;
    color: #6d6a6a;
}

    .input:hover {
        box-shadow: #777777;
        background-color: #efeded;
    }

.input-select {
    width: 300px;
    display: block;
    color: #6d6a6a;
    line-height: 1.3;
    /*margin-bottom: 10px;*/
    padding: 5px 10px;
    max-width: 100%;
    box-sizing: border-box;
    border: solid 1px #d0cfcf;
    /*box-shadow: 0 1px 0 1px rgba(0,0,0,.04);*/
    border-radius: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e2e1e1 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

    .input-select::-ms-expand {
        display: none;
    }

    .input-select:hover {
        border-color: #bfbdbd;
    }

    .input-select option {
        font-weight: normal;
    }


.form {
    padding: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

tbody {
    border: none !important;
}