﻿@model LibraryMG.Models.rol

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Roles</h2>

<div class="main-container">

    <div>
        <h4>rol</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


</div>