﻿@model IEnumerable<LibraryMG.Models.rol>

@{
    ViewBag.Title = "Roles";
}

    <div class="main-container">

        <h2>Roles</h2>
        <hr />
        <button class="btn-new" onclick="location.href='@Url.Action("Create", "rols")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>
        <div class="table-responsive">
        <table class="table table-hover table-bordered">
                <tr class="thead">
                    <th>
                        @*@Html.DisplayNameFor(model => model.description)*@
                        Descripción
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td width="250">
                            <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "rols", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                            <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "rols", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                        </td>
                    </tr>
                }

        </table>
        </div>
    </div>
