﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Login.cshtml"; ;
}

<div class="row main">
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="container text-center">
            <div class="login-container">
                <form id="login-form">
                    <img src="~/Img/login-logo.png" id="login-logo" />
                    <br />
                    <div class="input-wrapper-user">
                        <input type="text" name="username" id="username" required placeholder="Username" class="login-control" />
                    </div>
                    <div class="input-wrapper-pass">
                        <input type="password" name="password" id="password" required placeholder="Password" class="login-control" />
                    </div>
                    <br />
                    <button type="submit" id="btn_login" class="login-btn"><i class="fa fa-sign-in-alt">&nbsp</i>Login</button>
                    <br /><br />
                    <a class="login-link" href="#">Forgot Username? / Password</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
    $(document).ready(function () {
    $("#login-form").submit(function (e) {
        e.preventDefault();
        //Llamando controlador
        var url = '@Url.Content("~/Home/Enter")';
        console.log(url);
        var parametros = $(this).serialize();

        $.post(url, parametros, function (data) {

            if (data == "1") {
                console.log('change');
                window.location.href = '@Url.Content("~/Home/Welcome")'; //Redireccionar
            }
            else {
                alertify.error(data);
            }
        })


    })


});
    </script>


}