﻿
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="main-container">
                <h2>Bienvenido a Library Manager</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula enim iaculis urna interdum, id ultricies urna efficitur. Vivamus risus tortor, tincidunt vel metus sit amet, facilisis faucibus ligula. Maecenas bibendum ante in pharetra interdum. Nunc ultricies, velit ac suscipit ultrices, felis quam tempor erat, dignissim tincidunt turpis quam tincidunt nulla. Sed non dignissim dolor. Proin volutpat scelerisque neque et ultrices. Morbi eros tortor, lacinia ut massa et, finibus tincidunt neque. In imperdiet posuere magna. In hac habitasse platea dictumst. Curabitur cursus vulputate lacus.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="main-container">
                <h2>Today</h2>
                <p>@DateTime.Now</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="main-container">
                <h2>Libros</h2>
                <p>Morbi eros tortor, lacinia ut massa et, finibus tincidunt neque. In imperdiet posuere magna. In hac habitasse platea dictumst. Curabitur cursus vulputate lacus.</p>
                <a class="btn-info" href="@Url.Action("index","books")"><i class="fa fa-eye">&nbsp;</i>Ver más</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="main-container">
                <h2>Préstamos</h2>
                <p>Morbi eros tortor, lacinia ut massa et, finibus tincidunt neque. In imperdiet posuere magna. In hac habitasse platea dictumst. Curabitur cursus vulputate lacus.</p>
                <a class="btn-info" href="@Url.Action("index","books")"><i class="fa fa-eye">&nbsp;</i>Ver más</a>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="main-container">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula enim iaculis urna interdum, id ultricies urna efficitur. Vivamus risus tortor, tincidunt vel metus sit amet, facilisis faucibus ligula. Maecenas bibendum ante in pharetra interdum. Nunc ultricies, velit ac suscipit ultrices, felis quam tempor erat, dignissim tincidunt turpis quam tincidunt nulla. Sed non dignissim dolor. Proin volutpat scelerisque neque et ultrices. Morbi eros tortor, lacinia ut massa et, finibus tincidunt neque. In imperdiet posuere magna. In hac habitasse platea dictumst. Curabitur cursus vulputate lacus.</p>
            </div>
        </div>

    </div>
    </div>
