﻿@model IEnumerable<LibraryMG.Models.category>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
<h2>Categorias</h2>
    <hr />
    <button class="btn-new" onclick="location.href='@Url.Action("Create", "categories")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr class="thead">
                <th>
                    @*@Html.DisplayNameFor(model => model.description)*@
                    Descripción
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "categories", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                        <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "categories", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                    </td>
                </tr>
            }

        </table>
    </div>

    </div>