﻿@model LibraryMG.Models.lend

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listItems = (List<SelectListItem>)ViewBag.copybook;
    }

    <div class="main-container">
        <div class="row">
            <div class="col-md-2">
                <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "lends")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
            </div>
            <div class="col-md-8">
                <h4>Préstamo</h4>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2 text-left">Fecha Inicial</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.init_date, new { htmlAttributes = new { @type = "date", @class = "input" } })
                        @Html.ValidationMessageFor(model => model.init_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 text-left">Fecha Final</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fin_date, new { htmlAttributes = new { @type = "date", @class = "input" } })
                        @Html.ValidationMessageFor(model => model.fin_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 text-left">Cliente</label>
                    <div class="col-md-10">
                        @Html.DropDownList("client", null, htmlAttributes: new { @class = "input-select" })
                        @Html.ValidationMessageFor(model => model.client, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 text-left">Encargado</label>
                    <div class="col-md-10">
                        @Html.DropDownList("attendant", null, htmlAttributes: new { @class = "input-select" })
                        @Html.ValidationMessageFor(model => model.attendant, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 text-left">Ejemplar</label>
                    <div class="col-md-10">
                        @Html.DropDownList("copybook", null, htmlAttributes: new { @class = "input-select" })
                        @Html.ValidationMessageFor(model => model.copybook1.book, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn-save">
                            <i class="fa fa-save">&nbsp;</i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
