﻿@model LibraryMG.Models.lend

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>lend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.init_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.init_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fin_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fin_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.copybook1.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.copybook1.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users1.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
