﻿@model IEnumerable<LibraryMG.Models.lend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="main-container">
        <h2>Préstamos</h2>
        <hr />
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <button class="btn-new" onclick="location.href='@Url.Action("Create", "lends")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>
            </div>
            <div class="col-lg-3 col-md-3">
                <input class="input" id="thisSearch" type="text" placeholder="Search...">
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr class="thead">
                    <th>
                        Fecha Inicial
                    </th>
                    <th>
                        Fecha Final
                    </th>
                    <th>
                        No. Ejemplar
                    </th>
                    <th>
                        Título
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Encargado
                    </th>
                    <th>
                        Prestado
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tbody id="thisTable">
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.init_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fin_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.copybook1.number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.book.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.users.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.users1.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lended)
                            </td>
                            <td>
                                <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "lends", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                                <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "lends", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                            </td>
                        </tr>
                    </tbody>

                }

            </table>

        </div>

    </div>