﻿@model LibraryMG.Models.users

@{
    ViewBag.Title = "Delete";
}

    <div class="main-container">
        <div class="row">
            <div class="col-md-2">
                <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "users")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
            </div>
            <div class="col-md-8">
                <h4>Borrar Usuarios</h4>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <hr />
        <span class="text-alert">¿Está seguro de querer eliminar?</span>
        <br /><br />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Username
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.username)
                </dd>

                <dt>
                   Password
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.password)
                </dd>

                <dt>
                    Nombre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fullname)
                </dd>

                <dt>
                    Teléfono
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phone)
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    Dirección
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.addres)
                </dd>

                <dt>
                    Rol
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rol1.description)
                </dd>

                <dt>
                    Estado
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.state1.description)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" value="Delete" class="btn-delete">
                        <i class="fa fa-trash">&nbsp;</i>Eliminar
                    </button>
                </div>
            }
        </div>
    </div>