﻿@model LibraryMG.Models.users

@{
    ViewBag.Title = "Edit";
}


<div class="main-container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "users")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
        </div>
        <div class="col-md-8 text-center">
            <h4>Editar Usuarios</h4>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="title" for="username">Username</label>
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "input" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label class="title" for="password">Password</label>
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @type = "password", @class = "input" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label class="title" for="username">Nombre Completo</label>
                    @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "input" } })
                    @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="title">Rol</label>
                    @Html.DropDownList("rol", null, htmlAttributes: new { @class = "input-select" })
                    @Html.ValidationMessageFor(model => model.rol, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label class="title">Teléfono</label>
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "input" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label class="title">Email</label>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "input" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="title">Dirección</label>
                    @Html.EditorFor(model => model.addres, new { htmlAttributes = new { @class = "input" } })
                    @Html.ValidationMessageFor(model => model.addres, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label class="title">Estado</label>
                    @Html.DropDownList("state", null, htmlAttributes: new { @class = "input-select" })
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row btn-container">
                <div class="form-group col-md-12">
                    <button type="submit" value="Guardar" class="btn-save"><i class="fa fa-save">&nbsp;</i>Guardar</button>
                </div>
            </div>
        </form>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>

