﻿@model IEnumerable<LibraryMG.Models.users>

@{
    ViewBag.Title = "Usuarios";
}

<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <h3>Usuarios</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <button class="btn-new" onclick="location.href='@Url.Action("Create", "users")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>
        </div>
        <div class="col-lg-3 col-md-3">

            <input class="input" id="thisSearch" type="text" placeholder="Search...">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr class="thead">
                <th>
                    @*@Html.DisplayNameFor(model => model.username)*@
                    Username
                </th>
                <th>
                    Password
                </th>
                <th>
                    Nombre completo
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Email
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Rol
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tbody id="thisTable">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.addres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rol1.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.state1.description)
                    </td>
                    <td>
                        <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "users", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                        <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "users", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                    </td>
                </tr>
                    </tbody>
            }

        </table>
    </div>
    

</div>