﻿@model LibraryMG.Models.copybook

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "copybooks")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
        </div>
        <div class="col-md-8">
            <h4>Editar Ejemplares</h4>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                <label class="control-label col-md-2">Libro</label>
                <div class="col-md-10">
                    @Html.DropDownList("book", null, htmlAttributes: new { @class = "input-select" })
                    @Html.ValidationMessageFor(model => model.book, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 text-left">Número</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.number, new { htmlAttributes = new { @class = "input" } })
                    @Html.ValidationMessageFor(model => model.number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 text-left">Estado</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "input" } })
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn-save">
                        <i class="fa fa-save">&nbsp;</i>Guardar
                    </button>
                </div>
            </div>
        </div>





    }
</div>