﻿@model IEnumerable<LibraryMG.Models.copybook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-container">
    <h2>Ejemplares</h2>
    <hr />
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <button class="btn-new" onclick="location.href='@Url.Action("Create", "copybooks")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>
        </div>
        <div class="col-lg-3 col-md-3">

            <input class="input" id="thisSearch" type="text" placeholder="Search...">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr class="thead">
                <th>
                    Código
                </th>
                <th>
                    Número
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Libro
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tbody id="thisTable">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.state)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.book1.title)
                        </td>
                        <td>
                            <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "copybooks", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                            <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "copybooks", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>