﻿@model LibraryMG.Models.author

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">

    <div class="row">
        <div class="col-md-2">
            <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "authors")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
        </div>
        <div class="col-md-8">
            <h4>Eliminar Autores</h4>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <hr />
    <span class="text-alert">¿Está seguro de querer eliminar?</span>
    <br />
    <br />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayNameFor(model => model.name)*@
                Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.date)*@
                Fecha
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" value="Delete" class="btn-delete">
                    <i class="fa fa-trash">&nbsp;</i>Eliminar
                </button>
            </div>
            <br />
            <div>
                <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "authors")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
            </div>
        }
    </div>
</div>