﻿@model IEnumerable<LibraryMG.Models.author>

@{
    ViewBag.Title = "Autores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">

    <h2>Autores</h2>
    <hr />

    <button class="btn-new" onclick="location.href='@Url.Action("Create", "authors")';return false;"><i class="fa fa-plus-circle">&nbsp;</i>Create New</button>
    <div class="table-responsive">
    <table class="table table-hover table-bordered">
            <tr class="thead">
                <th>
                    Nombre
                </th>
                <th>
                    Fecha
                </th>
                <th></th>
            </tr>


        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        <button class="btn-gray" onclick="location.href='@Url.Action("Edit", "authors", new {id = item.id })';return false;"><i class="fa fa-edit">&nbsp;</i></button>
                        <button class="btn-gray" onclick="location.href='@Url.Action("Delete", "authors", new {id = item.id })';return false;"><i class="fa fa-trash">&nbsp;</i></button>
                    </td>
                </tr>

        }

    </table>
    </div>

</div>