﻿@model LibraryMG.Models.state

@{
    ViewBag.Title = "Edit";
}

    <div class="main-container">

        <div class="row">
            <div class="col-md-2">
                <button class="btn-gray-2x" onclick="location.href='@Url.Action("Index", "states")';return false;"><i class="fa fa-arrow-left">&nbsp;</i>Volver</button>
            </div>
            <div class="col-md-8">
                <h4>Editar Estados</h4>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @*@Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label class="control-label col-md-2">Descripción</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "input" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn-save">
                            <i class="fa fa-save">&nbsp;</i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
